<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список товаров на складе</title>
</head>
<body>
<div th:switch="${gw}">
    <h2 th:case="null">Не найдено товаров на этом складе!</h2>
    <div th:case="*">
        <h2>Товары на складе "<span th:text="${username}"></span>"</h2>
        <table>
            <thead>
            <tr>
                <th>ИД</th>
                <th>Название товара</th>
                <!-- <th>Название склада</th> -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="single_gw : ${gw}">
                <td th:text="${single_gw.id}"></td>
                <td th:text="${single_gw.goodsMainByIdGd.name}"></td>
                <!-- <td th:text="${single_gw.warehousesByIdWh.name}"></td> -->
                <td><a th:href="@{gw-update/{id}(id=${single_gw.id})}">Изменить</a></td>
                <td><a th:href="@{gw-delete/{id}(id=${single_gw.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/gw-create">Добавить товар на склад</a></p><br>
    <p><a href="/welcome" style="font-size: 16pt">Вернуться на главную страницу</a></p>
</div>
</body>
</html>