<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Good to Warehouse</title>
</head>
<body>
<p><h1>Add Good to Warehouse</h1></p>

    <p>
        Временно не работает. У меня сущность, а в ней ссылки на еще две сущности.
        Как заставить контроллер принять два айдюка из формы, найти по ним сущность товара и склада,
        потом вставить это в сущность связывающей таблицы и сохранить - я не знаю. Нигде не нашел внятной инфы.
    </p>

</body>
</html>