<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Warehouse</title>
</head>
<body>
<p><h1>Update Warehouse</h1></p>
<form action="#" th:action="@{/warehouses-update}" th:object="${warehouse}" method="post">
    <p>
        <label for="id">ID</label>
        <input readonly type="number" th:field="*{id}" id="id">
    </p>
    <p>
        <label for="name">New Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="New Name">
    </p>

    <p>
        <input type="submit" value="Update" />
        <input type="submit" onclick="javascript:history.back(); return false;" value="Cancel">
    </p>
</form>
</body>
</html>